<footer id="footer">
  <div class="container">
    <div class="row mx-auto">
      <div class="col-md-8 mx-auto" style="border:1px soldid red">
        <ul  id="box-ul">

          <div class="box-img">
            <img src="../../../assets/ico-socialbar_FB.svg">
          </div>

          <div class="box-img">
            <img src="../../../assets/ico-socialbar_IG.svg">
          </div>

          <div class="box-img">
            <img src="../../../assets/ico-socialbar_TW.svg">
          </div>
          <div class="box-img">
            <img src="../../../assets/ico-socialbar_YT.svg">
          </div>
          <div class="box-img">
            <img src="../../../assets/ico-socialbar_IN.svg">
          </div>
          <div class="box-img">
            <img src="../../../assets/ico-socialbar_MAIL.svg">
          </div>

        </ul>
      </div>
    </div>
  </div>
</footer>
