<section id="section">
  <div class="container">
    <div class="row mx-auto">
      <div>
        <div class="box-card" >
          <div class="card" id="contener-card"  *ngFor="let item of listEstantes">
            <div class="card-header" >
              <h2>{{item.descripcion}}</h2>
            </div>
            <div class="card-body">
              <p>Codigo: {{item.codigo}}</p>
              <p>N de filas: {{item.filas}}</p>
              <p>N de columnas: {{item.columnas}}</p>
              <p>
                <button class="btn btn-primary" id="btn-mostrar" (click)="ruta(item._id);">Mostrar Estante</button>
                <button class="btn btn-danger" id="btn-eliminar" (click)="eliminar(item._id,$event);">Eliminar Estante</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
